.collapses-grid {
    max-width: 1024px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 30px;

}

@media screen and (width<=768px) {
    .collapses-grid {
        margin-left: 20px;
        margin-right: 20px;
    }
}