.collapse-main{
    width:100%;
}
.collapse-title{
  
    display:flex;
    justify-content: space-between;
    background: #ff6060;
    color:white;
    
    border-radius: 5px;
    padding-top:10px;
    padding-bottom: 10px;
   
}
.collapse-icon-down{
    display:none;
}
.collapse-icon-up{
    margin-right:10px;
    height:20px;
    width:28px;
    cursor:pointer;
}
.collapse-icon-up:active{
    
    animation: tourne 200ms ;
    animation-fill-mode: forwards;
}
@keyframes tourne {
    0%{

    }
    50%{
        rotate:(180deg);
    }
    100%{
        opacity: 0%;
    }
    
}

.collapse-title-title{
    color:#ffffff;
    margin-left:10px;
    font-size:24px;
    font-weight: 500;
}
.collapse-content{  
    
   
   padding-top:15px;
   
   
    width:100%;
    background: #f6f6f6;
   
    border-radius: 5px;
    
   
    position:relative;
    top:-5px;
    z-index: -1;
  
}
.collapse-content-text{
    list-style: none;
    margin-top: -5px;
    margin-left:10px;
    margin-right: 10px;
    font-size:18px;
    padding-left:0;
  
}

