.carrousel-main {
    position: relative;
    height: 415px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.carrousel-image {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.carrousel-setter {
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: column;

}

.carrousel-arrows {
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;

}

.carrousel-arrows img {

    width: 47px;
    height: 80px;
    cursor: pointer;
}

.carrousel-counter {
    position: absolute;
    color: #ffffff;
    left: 50%;
    top: 180px;
    font-size: 18px;

}

@media screen and (width<=768px) {
    .carrousel-main {
        height: 255px;
    }

    .carrousel-counter {
        display: none;
    }

    .carrousel-arrows {
        margin-left: 10px;
        margin-right: 10px;
    }

    .carrousel-arrows img {

        width: 24px;
        height: 24px;
    }

}