$main-color: #ff6060;

.header-main {
    display: flex;
    align-items: center;
    max-width:1240px;
    padding-bottom: 30px;
    margin:auto;
}

.nav {
    display: flex;
    margin-left: auto;
    gap: 32px;
    font-size: 24px;
}

.header-logo {
    max-width: 200px;
}

#link-acceuil {
    color: $main-color;
    text-decoration: none;
}

#link-acceuil:hover {
    border-bottom: $main-color solid 2px;
}

#link-apropos {
    color: $main-color;
    text-decoration: none;
}

#link-apropos:hover {
    border-bottom: solid 2px $main-color;
}

@media screen and (width<=768px) {
    .header-main {
        margin-left: 20px;
        margin-right: 20px;
    }

    .header-logo {
        width: 145px;
        height: 46px;
    }

    .nav {
        font-size: 12px;
    }

}