.card {
    position: relative;
    height: 100%;
    background-image: linear-gradient(to top, #863535, #ff6060);
    border-radius: 5px;
}

.card-img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 90%;
    border-radius: 5px;
    filter: brightness(0.9);
}

.card-title {
    position: absolute;
    z-index: 100;
    color: #ffffff;
    bottom: 10px;
    left: 10px;
    width: 50%;
    font-size: 18px;
    font-weight: bold;

}

.carre-gris {
    max-width: 1180px;
    margin: auto;
    padding: 30px;
    margin-bottom: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #f6f6f6;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 1fr;
    grid-gap: 30px;
    align-items: center;

}

@media screen and (width <=768px) {

    .card {
        width: 100%;
        height: 255px;
    }

    .carre-gris {
        padding-left: 20px;
        padding-right: 20px;
        background-color: #ffffff;
        display: flex;
        flex-direction: column;
        padding-top: 5px;
        padding-bottom: 5px;
    }

}